@font-face {
    font-family: porter;
    src: url(./fonts/PorterBold.ttf)
}

@font-face {
    font-family: nourd;
    src: url(./fonts/NourdRegular.ttf);
}

html {
    background-color: #FAF8F2;
    overflow-x: hidden;
}

h1 {
    font-family: porter;
    color: #D52828;
    font-size: 75px
}

.homelink, h4 {
    font-family: porter;
    color: #D52828;
    text-decoration: none;
}

.homeimg {
    height: auto; 
    width: auto; 
    max-width: 150px; 
    max-height: 150px;
}

.homeimg:hover {
    filter:grayscale(100%)
}

p, li {
    font-family: nourd;
    font-weight: bold;
    color: black;
    overflow-wrap: break-word;
}

li {
    inline-size: 100vw; 
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.headerlink {
    font-family: porter;
    color: #97C8E6;
    text-decoration: none;
    font-size: 25px;
    padding: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

/* flex container for .homelink images */
.container {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    right: 0px;
    width: 20%;
}

.homelink {
   text-align: center;
   margin: 20px;
}

/* flex container for breakfast recipes text,
    bc image, top logo */
.container2 {
    display: flex;
    height: 100vh;
    position: absolute;
    left: 0px;
    width: 80%;
}

.breakfast-recipes{
    position: absolute;
    font-size: 8vw;
    top: 50%;
    left: 20%;
}

.bc {
    position: absolute;
    top: 20%;
    left: 10%;
    width: 55%;
    height: auto;
}

.top-logo {
    position: absolute;
    left: 75%;
    width: 15%;
    height: auto;
}

.body {
    display: flex;
    flex-direction: column;
    margin-left: 2%;
    width: 95%;
    height: auto;
}

.body .mainpic {
    width: 60%;
    height: auto;
    position:relative;
    left:20%;
    top:50%;
}

.body h3,
.body p,
.body ul,
.body ol {
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
}

span {
    display: block;
}