@font-face {
    font-family: porter;
    src: url(https://www.dafont.com/porter.font);
}

@font-face {
    font-family: nourd;
    src: url(https://www.behance.net/gallery/84555653/Nourd-Typeface);
}

html {
    background-color: #FAF8F2;
}

h1 {
    font-family: porter;
    color: #D52828;
    font-size: 100px
}

h4 {
    font-family: porter;
    color: #D52828;
}

p, li {
    font-family: nourd;
    font-weight: bold;
    color: black;
}

a:link, a:visited {
    font-family: porter;
    color: #97C8E6;
    text-decoration: none;
    font-size: 25px;
}
